
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2f3c3e;
}
.container{
    position: relative;
    min-height: 500px;
    border: 1px solid #dedede;
}
.clock{
    width: 400px;
    height: 400px;
}
